<div class="container-fluid" *ngIf="(state$ | async) as documentsState">
  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-default" (click)="resetFilters()">
        {{'Reset filters' | translate}}
      </button>
      <page-size-options [value]="searchParams.count"
        (valueChange)="setSearchParams({ count: $event, offset: 0 })">
      </page-size-options>
      <paginator
        [pageOptions]="{ total: documentsState.total, count: searchParams.count, offset: searchParams.offset }"
        (offsetChange)="setSearchParams({ offset: $event })">
      </paginator>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered table-hover text-center">
        <!-- <thead>
          <tr>
            <th>
              <div class="input-group">
                <input type="text" class="form-control" [placeholder]="'Login' | translate"
                  [ngModel]="searchParams.login" (ngModelChange)="setSearchParams({ login: $event })">
                <div class="input-group-btn">
                  <button class="btn btn-default">
                    <i class="glyphicon glyphicon-remove"></i>
                  </button>
                </div>
              </div>
            </th>
            <th>
              <div class="input-group">
                <input type="text" class="form-control" [placeholder]="'Name' | translate"
                  [ngModel]="searchParams.name" (ngModelChange)="setSearchParams({ name: $event })">
                <div class="input-group-btn">
                  <button class="btn btn-default">
                    <i class="glyphicon glyphicon-remove"></i>
                  </button>
                </div>
              </div>
            </th>
            <th>
              <div class="input-group">
                <input type="text" class="form-control" [placeholder]="'Email' | translate"
                  [ngModel]="searchParams.email" (ngModelChange)="setSearchParams({ email: $event })">
                <div class="input-group-btn">
                  <button class="btn btn-default">
                    <i class="glyphicon glyphicon-remove"></i>
                  </button>
                </div>
              </div>
            </th>
            <th></th>
          </tr>
        </thead> -->
        <tbody>
          <tr *ngFor="let document of documentsState.documents">
            <td>{{document.id}}</td>
            <td>{{document.key}}</td>
            <td>{{document.mime}}</td>
            <td>
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-default"><i class="glyphicon glyphicon-pencil"></i></button>
                <button type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-trash"></i></button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
