<div class="container-fluid" *ngIf="(crawlerRepoState$ | async) as crawlerRepoState">
  <div class="row">
    <div class="col-md-12">
      <page-size-options [value]="searchParams.count"
        (valueChange)="setSearchParams({ count: $event, offset: 0 })">
      </page-size-options>
      <paginator
        [pageOptions]="{ total: crawlerRepoState.total, count: searchParams.count, offset: searchParams.offset }"
        (offsetChange)="setSearchParams({ offset: $event })">
      </paginator>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered table-hover text-center">
        <tbody>
          <tr *ngFor="let product of crawlerRepoState.metaproducts">
            <td><img [src]="product.url_image_small" width="24" height="24"></td>
            <td>{{product.name}}</td>
            <td>{{product.article}}</td>
            <td>
              <div class="btn-group">
                <button type="button" class="btn btn-xs btn-default"
                  routerLink="details" [queryParams]="{product_id: product.id}">
                  <i class="glyphicon glyphicon-pencil"></i>
                </button>
                <button type="button"
                  class="btn btn-xs btn-danger">
                  <i class="glyphicon glyphicon-trash"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
