<div class="btn-group" *ngIf="totalPages > 1">
  <button class="btn btn-default"
    [disabled]="button.offset === offset"
    [ngClass]="button.offset === offset ? 'btn btn-primary' : 'btn btn-default' "
    (click)="offsetChange.emit(button.offset)"
    *ngFor="let button of buttons">
    {{button.text}}
  </button>
</div>
