<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid" *ngIf="user$ | async as user">
    <input type="checkbox" id="navbar-toggle-cbox">
    <div class="navbar-header">
      <label for="navbar-toggle-cbox" class="navbar-toggle collapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </label>
      <a class="navbar-brand" routerLink="/">{{'Красуня' | translate}}</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li dropdown class="dropdown">
          <a dropdownToggle class="dropdown-toggle">
            {{'Контент' | translate}}
            <span class="caret"></span>
          </a>
          <ul *dropdownMenu class="dropdown-menu">
            <li>
              <a routerLink="products">{{'Керування' | translate}}</a>
            </li>
            <li>
              <a routerLink="crawlers">{{'Краулери' | translate}}</a>
            </li>
            <li>
              <a routerLink="xprops">{{'Атрибути' | translate}}</a>
            </li>
            <li>
              <a routerLink="media">{{'Медіа' | translate}}</a>
            </li>
            <li>
              <a routerLink="documents">{{'Документи' | translate}}</a>
            </li>
          </ul>
        </li>
        <li>
          <a routerLink="users">{{'Користувачі' | translate}}</a>
        </li>
        <li>
          <a routerLink="feedbacks">{{'Зворотній звязок' | translate}}</a>
        </li>
        <li>
          <a routerLink="configs">Налаштування</a>
        </li>
        <li>
          <a href="//dev.api.krasuna.com.ua/static/build/html/index.html" target="_blank">API</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li dropdown class="dropdown">
          <a dropdownToggle class="dropdown-toggle">
            {{user.name}}
            <span class="caret"></span>
          </a>
          <ul *dropdownMenu class="dropdown-menu">
            <li>
              <a (click)="logout()">Вихід</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
