<div class="container-fluid" id="top-slider">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 class="slider-title">
          Всі вироби, представлені на сайті, можуть бути виготовлені
        </h1>
        <div class="divider"></div>
        <div class="feature-list">
          <span><i class="icon fas fa-certificate"></i>&nbsp;<span class="text">в золоті</span></span>
          <span><i class="icon fas fa-certificate"></i>&nbsp;<span class="text">в сріблі</span></span>
          <span><i class="icon fas fa-certificate"></i>&nbsp;<span class="text">з будь-яким камінням</span></span>
        </div>
        <button class="btn btn-choose">
          Оберіть прикрасу
        </button>
      </div>
      <div class="col-md-12" id="slider-navigation-dots">
        <button>
          <i class="fas fa-dot-circle"></i>
        </button>
        <button>
          <i class="fas fa-dot-circle"></i>
        </button>
        <button>
          <i class="fas fa-dot-circle"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" id="feature-blocks-1">
  <div class="container">
    <div class="col-md-4">
      <div class="feature">
        <img src="/assets/img/feature-blocks-1/feature-1.png" alt="no-image" class="feature-image img-responsive">
        <h5 class="feature-title">Ремонт</h5>
      </div>
    </div>
    <div class="col-md-4">
      <div class="feature">
        <img src="/assets/img/feature-blocks-1/feature-2.png" alt="no-image" class="feature-image img-responsive">
        <h5 class="feature-title">Індивідуальні замовлення</h5>
      </div>
    </div>
    <div class="col-md-4">
      <div class="feature">
        <img src="/assets/img/feature-blocks-1/feature-3.png" alt="no-image" class="feature-image img-responsive">
        <h5 class="feature-title">Обмін</h5>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" id="news">
  <div class="container">
    <div class="tabs">
      <div class="tab">Хіти</div>
      <div class="tab">Новинки</div>
      <div class="tab">Знижки</div>
    </div>
  </div>
  <div class="container">
    <product-block imageUrl="/assets/img/placeholders/product-1.png" class="col-md-3"></product-block>
    <product-block imageUrl="/assets/img/placeholders/product-2.png" class="col-md-3"></product-block>
    <product-block imageUrl="/assets/img/placeholders/product-3.png" class="col-md-3"></product-block>
    <product-block imageUrl="/assets/img/placeholders/product-4.png" class="col-md-3"></product-block>
    <product-block imageUrl="/assets/img/placeholders/product-1.png" class="col-md-3"></product-block>
    <product-block imageUrl="/assets/img/placeholders/product-2.png" class="col-md-3"></product-block>
    <product-block imageUrl="/assets/img/placeholders/product-3.png" class="col-md-3"></product-block>
    <product-block imageUrl="/assets/img/placeholders/product-4.png" class="col-md-3"></product-block>
  </div>
</div>

<div class="container-fluid" id="feature-blocks-2">
  <div class="container">
    <h2 class="feature-heading">
      Твій стиль
    </h2>
    <div class="text-center">
      <div class="divider"></div>
    </div>

    <div class="col-md-4 text-center">
      <div class="feature">
        <img src="/assets/img/feature-blocks-2/feature-1.png" alt="" class="img-responsive">
        <h4 class="title">Більше 40 найменувань</h4>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <div class="feature">
        <img src="/assets/img/feature-blocks-2/feature-2.png" alt="" class="img-responsive">
        <h4 class="title">Створи свій неповторний образ</h4>
      </div>
    </div>
    <div class="col-md-4 text-center">
      <div class="feature">
        <img src="/assets/img/feature-blocks-2/feature-3.png" alt="" class="img-responsive">
        <h4 class="title">Міняйся щодня!</h4>
      </div>
    </div>

    <div class="text-center">
      <button class="btn btn-show">
        Переглянути
      </button>
    </div>
  </div>
</div>

<div class="container-fluid" id="service">
  <div class="container">
    <div class="col-md-6">
      <img src="/assets/img/placeholders/service-1.png" alt="" class="service-image img-responsive">
      <img src="/assets/img/placeholders/service-2.png" alt="" class="service-image img-responsive">
    </div>
    <div class="col-md-6">
      <div class="service-description-title">
        Ми надаємо повний спектр ювелірних послуг:
      </div>
      <ul class="service-description-list">
        <li>
          виготовлення за каталогом;
        </li>
        <li>
          виготовлення за ескізом(фото);
        </li>
        <li>
          виготовлення копій;
        </li>
        <li>
          ремонт;
        </li>
        <li>
          реставрація;
        </li>
        <li>
          мийка, чистка, полірування.
        </li>
      </ul>
      <div class="service-description-content">
        У нас Ви зможете замовити ексклюзивні і вишукані ювелірні вироби за власними ескізами, фотографіями, або зображеннями з інтернету. Навіть якщо Ви не художник, Вас це не повинно зупиняти, приходьте з своїми ідеями або зображеннями з інтернету і наші ювеліри зможуть вловити суть і втілити її в дорогоцінних металах. Також ми пропонуємо вибрати й замовити ювелірні вироби з каталогів, які зможете переглянути в майстерні, або на сайті. Такі прикраси не зможуть залишити байдужими навіть найвимогливіших поціновувачів коштовностей. Наші майстри зможуть виготовити будь-яку копію ювелірного виробу.
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" id="contacts">
  <div class="container">
    <div class="col-md-2 contact col-md-offset-1">
      <i class="icon fas fa-map-marker-alt"></i>
      <div class="title">Адреса</div>
      <div class="description">
        м. Львів,
        <br>
        вул. Наливайка 5
      </div>
    </div>
    <div class="col-md-2 contact">
      <i class="icon fas fa-mobile-alt"></i>
      <div class="title">Телефон</div>
      <div class="description">
          (032) 294-98-82
          <br>
          (068) 307-03-06
      </div>
    </div>
    <div class="col-md-2 contact">
      <i class="icon fas fa-envelope-open-text"></i>
      <div class="title">E-mail</div>
      <div class="description">
        info@krasyna.ru
      </div>
    </div>
    <div class="col-md-2 contact">
      <i class="icon far fa-clock"></i>
      <div class="title">Режим роботи</div>
      <div class="description">
        Пн.-Пт. з 10:00 до 19:00
        <br>
        Сб.:  з 10:00 до 15:00
      </div>
    </div>
    <div class="col-md-2 contact">
      <i class="icon fab fa-viber"></i>
      <div class="title">Viber</div>
      <div class="description">
        (032) 294-98-82
        <br>
        (068) 307-03-06
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" id="map"></div>
