:host {
  #top-slider {
    padding-top: 4em;
    background-color: #695747;
    background-image: url('/assets/img/placeholders/slider.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 430px;
    color: white;

    h1.slider-title {
      font-family: 'Open Sans', sans-serif;
    }
    .divider {
      display: inline-block;
      width: 10%;
      margin-top: 1em;
      margin-bottom: 2em;
      height: 1px;
      background-color: #fff;
    }

    .feature-list {
      margin-bottom: 2em;

      .icon {
      }

      .text {
        font-size: 1.3em;
      }

      &>* {
        margin-right: 2em;
      }
    }
    .btn-choose {
      padding: 0.5em 1em;
      font-size: 1.2em;
      border-radius: 3px;
      background-color: transparent;
      border-color: #fff;
      transition: 0.5s ease all;

      &:hover, &:focus, &:active {
        border-color: #a48b5c;
        color: #b6a589;
      }
    }

    #slider-navigation-dots {
      padding-top: 4em;
      text-align: center;
      color: white;
      &>button {
        padding: 0.2em;
        background-color: transparent;
        border: none;
      }
    }
    .slide-right {

    }
    .slide-left {

    }
  }

  #feature-blocks-1 {
    background-color: rgb(226, 226, 226);
    // height: 188px;
    text-align: center;

    .feature {
      padding-top: 3em;
      padding-bottom: 3em;
      .feature-title {
        margin-top: 2em;
        color: black;
        text-transform: uppercase;
      }
      .feature-image {
        height: 3.5em;
        display: inline-block;
      }
    }
  }

  #news {
    .tabs {
      padding-top: 4em;
      display: block;
      text-align: center;
      border-bottom: 1px solid #dedede;
      .tab {
        cursor: pointer;
        font-size: 1.2em;
        font-weight: bold;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        margin-bottom: -1px;
        padding: 0.8em 1.8em;
        display: inline-block;
        border: 1px solid #dedede;

        &.active {
          color: #a48b5c;
        }
      }
    }
  }

  #feature-blocks-2 {
    background-color: rgb(226, 226, 226);
    padding-top: 2em;
    padding-bottom: 3em;

    h2.feature-heading {
      font-size: 3em;
      text-align: center;
      font-family: 'Open Sans', sans-serif;
    }

    .feature {
      text-transform: uppercase;
      img {
        display: inline-block;
      }
    }

    .divider {
      height: 1px;
      display: inline-block;
      background-color: #a48b5c;
      width: 6em;
    }

    .btn-show {
      margin-top: 1em;
      background: none;
      border: none;
      color: #a48b5c;
      font-size: 1.2em;

      &:hover, &:active, &:focus {
        text-decoration: underline;
      }
    }
  }

  #service {
    padding-top: 4em;
    padding-bottom: 4em;
    .service-image {
      padding: 0 1em;
      margin: 1em 0;
    }
    .service-description-title {
      margin: 0.1em 0;
      font-family: 'Open Sans', sans-serif;
      font-size: 1.6em;
    }

    ul.service-description-list {
      padding-top: 0.6em;
      padding-bottom: 0.4em;
      padding-left: 1.2em;
      li {
        line-height: 2;
      }
    }

    .service-description-content {
      line-height: 1.2;
    }
  }

  #contacts {
    background-color: rgb(226, 226, 226);

    .contact {
      padding: 2em 0 4em;
      text-align: center;
      .icon {
        padding: 0.5em 0;
        font-size: 4em;
        color: #a48b5c;
      }
      .title {
        padding: 1em 0.2em;
        font-weight: bold;
        color: black;
        text-transform: uppercase;
      }
      .description {
        font-family: 'Open Sans', sans-serif;
        color: #9a9a9a;
      }
    }
  }

  #map {
    height: 410px;
    background-color: #695747;
    background-image: url('/assets/img/placeholders/map.png');
    background-size: cover;
    background-position: center;
  }
}

