:host {
  .product-block-wrapper {
    margin-bottom: 4em;
    .product-block-image {
      padding: 1em;
    }

    .product-block-footer {
      border: 1px solid #f0f0f0;
      background-color: #fcfcfc;
      text-align: center;
      font-size: 0.9em;

      .divider {
        display: inline-block;
        background-color: #f0f0f0;
        height: 1px;
        width: 90%;
      }
      .product-title {
        display: block;
        text-align: left;
        padding: 1em 1em 0;
      }

      .description {
        padding: 0 1em 0.5em;
        text-align: left;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .key {
          color: #9e9e9e;
        }
        .value {
          color: black;
        }
        .like {
          text-align: center;
          display: inline-block;
          padding: 0.4em 0.6em;
          border-radius: 3px;
          border: 1px solid #f0f0f0;
        }
      }
    }
  }
}
