<div class="product-block-wrapper">
  <img [src]="imageUrl" alt="" class="img-responsive product-block-image">
  <div class="product-block-footer">
    <div class="product-title">Обручка класична Артикул 100...</div>
    <span class="divider"></span>
    <div class="description">
      <div>
        <div>
          <span class="key">Вага срібла: </span><span class="value">2г</span>
        </div>
        <div>
          <span class="key">Вага золота: </span><span class="value">2г</span>
        </div>
      </div>
      <div>
        <span class="like">
          <i class="fas fa-heart"></i>
          <!-- <i class="far fa-heart"></i> -->
        </span>
      </div>
    </div>
  </div>
</div>
