<div class="container-fluid" *ngIf="(usersState$ | async) as usersState">
  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-primary" routerLink="details">
        {{'Create new' | translate}}
      </button>
      <page-size-options [value]="searchParams.count"
        (valueChange)="setSearchParams({ count: $event, offset: 0 })">
      </page-size-options>
      <paginator
        [pageOptions]="{ total: usersState.total, count: searchParams.count, offset: searchParams.offset }"
        (offsetChange)="setSearchParams({ offset: $event })">
      </paginator>
      <button class="btn btn-default" (click)="resetFilters()">
        {{'Reset filters' | translate}}
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered table-hover text-center">
        <thead>
          <tr>
            <th>
              <div class="input-group">
                <input type="text" class="form-control input-sm" [placeholder]="'Login' | translate"
                  [ngModel]="searchParams.login" (ngModelChange)="setSearchParams({ login: $event })">
                <div class="input-group-btn">
                  <button class="btn btn-sm btn-default">
                    <i class="glyphicon glyphicon-remove"></i>
                  </button>
                </div>
              </div>
            </th>
            <th>
              <div class="input-group">
                <input type="text" class="form-control input-sm" [placeholder]="'Name' | translate"
                  [ngModel]="searchParams.name" (ngModelChange)="setSearchParams({ name: $event })">
                <div class="input-group-btn">
                  <button class="btn btn-sm btn-default">
                    <i class="glyphicon glyphicon-remove"></i>
                  </button>
                </div>
              </div>
            </th>
            <th>
              <div class="input-group">
                <input type="text" class="form-control input-sm" [placeholder]="'Email' | translate"
                  [ngModel]="searchParams.email" (ngModelChange)="setSearchParams({ email: $event })">
                <div class="input-group-btn">
                  <button class="btn btn-sm btn-default">
                    <i class="glyphicon glyphicon-remove"></i>
                  </button>
                </div>
              </div>
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of usersState.users">
            <td>{{user.login}}</td>
            <td>{{user.name}}</td>
            <td>{{user.email}} <span class="label label-warning">{{user.waiting_email}}</span></td>
            <td>
              <div class="btn-group">
                <button type="button" class="btn btn-xs btn-default"
                  routerLink="details" [queryParams]="{user_id: user.id}">
                  <i class="glyphicon glyphicon-pencil"></i>
                </button>
                <button type="button" (click)="delete(user.id)"
                  class="btn btn-xs btn-danger">
                  <i class="glyphicon glyphicon-trash"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
