<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2 *ngIf="user$ | async as user; else createUserMSG">
        {{'Editing user' | translate}}: {{user.id}}
      </h2>
      <ng-template #createUserMSG>
        <h2>{{'Creating user' | translate}}</h2>
      </ng-template>
      <form class="form-horizontal" [formGroup]="form" (ngSubmit)="submitForm()">
        <div class="form-group">
          <label class="col-sm-2 control-label">{{'Login' | translate}}</label>
          <div class="col-sm-10">
            <input class="form-control" type="text" class="form-control" formControlName="login">
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">{{'Name' | translate}}</label>
          <div class="col-sm-10">
            <input class="form-control" type="text" class="form-control" formControlName="name">
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">{{'Email' | translate}}</label>
          <div class="col-sm-10">
            <input class="form-control" type="text" class="form-control" formControlName="email">
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">{{'Role' | translate}}</label>
          <div class="col-sm-10">
            <select class="form-control" formControlName="role">
              <option [ngValue]="role" *ngFor="let role of (roles$ | async)">{{role}}</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">{{'Password' | translate}}</label>
          <div class="col-sm-10">
            <input class="form-control" type="text" class="form-control" formControlName="password">
          </div>
        </div>

        <div class="btn-group btn-group-justified">
          <div class="btn-group">
            <button type="reset" class="btn btn-default">{{'Reset' | translate}}</button>
          </div>
          <div class="btn-group">
            <button type="submit" class="btn btn-primary">{{'Submit' | translate}}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
