<nav class="navbar navbar-default">
  <div class="container-fluid" id="user-menu">
    <div class="container">
      <!-- ADDRESS -->
      <a href="#" class="navbar-text">
        <i class="fas fa-map-marker-alt"></i>
        &nbsp;
        {{'м. Львів, вул. Наливайка, 5'}}
      </a>
      <!-- SEARCH -->
      <div id="search-wrapper" class="nav navbar-nav navbar-right navbar-horizontal-dropdown">
        <div class="dropdown">
          <a class="btn navbar-btn dropdown-toggle" id="search-button" type="button" data-toggle="dropdown">
            <i class="fas fa-search"></i>
          </a>
          <div class="dropdown-menu">
            <form class="container">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search">
                <div class="input-group-btn">
                  <button class="btn btn-default" type="submit">
                    <i class="fas fa-search"></i>
                  </button>
                  <button class="btn btn-default" type="reset">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
      <!-- LOGIN/REGISTER -->
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#">
            <i class="fas fa-sign-in-alt"></i>
            &nbsp;
            {{'Вхід' | translate}}
            &nbsp;
            /
            &nbsp;
            <i class="fas fa-user"></i>
            &nbsp;
            {{'Реєстрація' | translate}}
          </a>
        </li>
      </ul>
      <!-- USER WIDGET -->
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="far fa-user"></i>
            &nbsp;
            Іван зелений
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#">{{'Мої вподобання' | translate}}</a></li>
            <li><a href="#">{{'Налаштування' | translate}}</a></li>
            <li><a href="#">{{'Вихід' | translate}}</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid" id="content">
  <div class="container">
    <div class="row">
      <!-- LOGO -->
      <div class="col-md-4">
        <img src="/assets/img/main-logo.png" alt="..." class="img-responsive">
      </div>
      <!-- CONTACTS -->
      <div class="col-md-3 text-center">
        <div id="header-contacts">
          <a href="tel: (032) 294-98-82" class="phone">
            <i class="fas fa-phone"></i>
            &nbsp;
            (032) 294-98-82
          </a>
          <a href="tel: (068) 307-03-06" class="phone">
            <i class="fas fa-mobile-alt"></i>
            &nbsp;
            (068) 307-03-06
          </a>
          <div class="divider"></div>
          <div class="schedule">
            <i class="far fa-clock"></i>
            &nbsp;
            Пн.-Пт. з 10:00 до 19:00
          </div>
          <div class="schedule">
            Сб.: з 10:00 до 15:00
          </div>
        </div>
      </div>
      <!-- INVITATION -->
      <div class="col-md-3 text-center">
        <div id="misc-1">
          <div>
            <span class="caption">
              Приєднуйтесь до нас:
            </span>
            &nbsp;
            <a href="#" class="soc-icon">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#" class="soc-icon">
              <i class="fab fa-instagram"></i>
            </a>
          </div>
          <button id="price" class="btn btn-price btn-block">
            Прайс на ремонтні роботи
          </button>
        </div>
      </div>
      <!-- ADDITIONAL MENUS -->
      <div class="col-md-2 text-center">
        <div id="misc-2">
          <div>
            <div class="btn btn-misc-2">
              <span class="liked-wrapper">
                <i class="icon far fa-heart"></i>
                <div class="liked-counter">34</div>
              </span>
              &nbsp;
              <span class="text">
                Список бажань
              </span>
            </div>
          </div>
          <div>
            <div class="btn btn-misc-2">
              <i class="icon fas fa-envelope-open-text"></i>
              &nbsp;
              <span class="text">
                Зв'яжіться з нами
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<nav class="navbar navbar-default" id="navigation">
  <div class="container-fluid">
    <div class="container">
      <ul class="nav navbar-nav navbar-horizontal-dropdown">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            Каталог
            <span class="caret"></span>
          </a>
          <div class="dropdown-menu">
            <div class="container categories">
              <div class="col-md-2">
                <img src="/assets/img/placeholders/ring.png" alt="" class="category-img img-responsive">
                <h4 class="category">Каблучки</h4>
                <div class="divider"></div>
                <div class="subcategory">
                  <a href="#">Обручки</a>
                </div>
                <div class="subcategory">
                  <a href="#">Обручки</a>
                </div>
                <div class="subcategory">
                  <a href="#">Обручки</a>
                </div>
                <div class="subcategory">
                  <a href="#">Обручки</a>
                </div>
                <div class="subcategory">
                  <a href="#">Обручки</a>
                </div>
                <div class="subcategory">
                  <a href="#">Обручки</a>
                </div>
              </div>
              <div class="col-md-2">
                <img src="/assets/img/placeholders/ring.png" alt="" class="category-img img-responsive">
                <h4 class="category">Каблучки</h4>
                <div class="divider"></div>
                <div class="subcategory">
                  <a href="#">Обручки</a>
                </div>
                <div class="subcategory">
                  <a href="#">Обручки</a>
                </div>
                <div class="subcategory">
                  <a href="#">Обручки</a>
                </div>
                <div class="subcategory">
                  <a href="#">Обручки</a>
                </div>
                <div class="subcategory">
                  <a href="#">Обручки</a>
                </div>
                <div class="subcategory">
                  <a href="#">Обручки</a>
                </div>
              </div>
              <div class="col-md-2">
                <img src="/assets/img/placeholders/ring.png" alt="" class="category-img img-responsive">
                <h4 class="category">Каблучки</h4>
                <div class="divider"></div>
                <div class="subcategory">
                  <a href="#">Обручки</a>
                </div>
                <div class="subcategory">
                  <a href="#">Обручки</a>
                </div>
                <div class="subcategory">
                  <a href="#">Обручки</a>
                </div>
                <div class="subcategory">
                  <a href="#">Обручки</a>
                </div>
                <div class="subcategory">
                  <a href="#">Обручки</a>
                </div>
                <div class="subcategory">
                  <a href="#">Обручки</a>
                </div>
              </div>
              <div class="col-md-2">
                <img src="/assets/img/placeholders/ring.png" alt="" class="category-img img-responsive">
                <h4 class="category">Каблучки</h4>
                <div class="divider"></div>
                <div class="subcategory">
                  <a href="#">Обручки</a>
                </div>
                <div class="subcategory">
                  <a href="#">Обручки</a>
                </div>
                <div class="subcategory">
                  <a href="#">Обручки</a>
                </div>
                <div class="subcategory">
                  <a href="#">Обручки</a>
                </div>
                <div class="subcategory">
                  <a href="#">Обручки</a>
                </div>
                <div class="subcategory">
                  <a href="#">Обручки</a>
                </div>
              </div>
              <div class="col-md-2">
                <img src="/assets/img/placeholders/ring.png" alt="" class="category-img img-responsive">
                <h4 class="category">Каблучки</h4>
                <div class="divider"></div>
                <div class="subcategory">
                  <a href="#">Обручки</a>
                </div>
                <div class="subcategory">
                  <a href="#">Обручки</a>
                </div>
                <div class="subcategory">
                  <a href="#">Обручки</a>
                </div>
                <div class="subcategory">
                  <a href="#">Обручки</a>
                </div>
                <div class="subcategory">
                  <a href="#">Обручки</a>
                </div>
                <div class="subcategory">
                  <a href="#">Обручки</a>
                </div>
              </div>
              <div class="col-md-2">
                <img src="/assets/img/placeholders/ring.png" alt="" class="category-img img-responsive">
                <h4 class="category">Каблучки</h4>
                <div class="divider"></div>
                <div class="subcategory">
                  <a href="#">Обручки</a>
                </div>
                <div class="subcategory">
                  <a href="#">Обручки</a>
                </div>
                <div class="subcategory">
                  <a href="#">Обручки</a>
                </div>
                <div class="subcategory">
                  <a href="#">Обручки</a>
                </div>
                <div class="subcategory">
                  <a href="#">Обручки</a>
                </div>
                <div class="subcategory">
                  <a href="#">Обручки</a>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li><a href="" class="divider"><i class="fas fa-circle"></i></a></li>
        <li><a href="#">Виготовлення</a></li>
        <li><a href="" class="divider"><i class="fas fa-circle"></i></a></li>
        <li><a href="#">Обмін</a></li>
        <li><a href="" class="divider"><i class="fas fa-circle"></i></a></li>
        <li><a href="#">Контакти</a></li>
      </ul>
    </div>
  </div>
</nav>
