:host {
  #user-menu {
    background-color: rgb(245, 245, 245);
  }

  #content {
    &>* {
      padding-bottom: 2em;
    }

    #header-contacts {
      display: inline-block;

      .phone {
        display: block;
        font-size: 1.2em;
        color: black;

        &:hover, &:active, &:focus {
          text-decoration: none;
          color: black;
        }
      }
      .divider {
        height: 1px;
        display: block;
        margin: 0.8em 0;
        background-color: rgb(223, 223, 223);
      }

      .schedule {
        font-size: 0.8em;
        color: #929292;
      }
    }

    #misc-1 {
      display: inline-block;

      .caption {
        color: #929292;
      }

      .soc-icon {
        display: inline-block;
        border: 1px solid #9b8761;
        background-color: transparent;
        color: #9b8761;
        border-radius: 50%;
        text-align: center;
        padding: 0.5em;
        width: 2.5em;
        font-size: 1em;
        transition: 0.5s ease all;
        &:hover {
          background-color: #9b8761;
          color: white;
        }
      }

      .btn-price {
        margin: 0.8em 0;
        color: #929292;
        background-color: #f5f5f5;
      }
    }

    #misc-2 {
      .btn-misc-2 {
        text-align-last: left;

        .icon {
          display: inline-block;
          font-size: 1.8em;
          color: #ad976d;
        }
        .text {
          border-bottom: 1px dashed black;
        }

        &:hover {
          .text {border-bottom-color:  #ad976d;}
          color: #ad976d;
        }

        .liked-wrapper {
          display: inline-block;
          position: relative;
          .liked-counter {
            padding: 0.2em 0.3em;
            font-size: 0.7em;
            background-color: #ad976d;
            border-radius: 50%;
            color: white;
            position: absolute;
            top: 0;
            right: 0;
            margin-right: -0.8em;
            margin-top: -0.8em;
          }
        }
      }
    }
  }

  #search-wrapper {
    #search-button {
      font-size: 1.4em;
      padding: 0.55em 0.8em;
      color: #fff;
      background-color: rgba(164, 139, 92, 1);
      border-color: rgba(164, 139, 92, 1);
      margin-top: 0;
      margin-bottom: 0;
      &:hover {
        background-color: rgba(164, 139, 92, 0.7);
      }
    }
  }

  #navigation {
    margin-bottom: 0;
    background-color: transparent;
    border-color: transparent;
    border-top-color: #e5e2dd;
    .nav li>a {
      font-size: 1.2em;
      font-weight: bold;
      color: black;


      &:hover {
        color: #a48b5c;

      }
    }
    .nav li a.divider {
      font-size: 0.5em;
      color: #c0c0c0;
      cursor: default;
    }

    .categories {
      padding-bottom: 4em;
      max-height: 400px;
      overflow: scroll;
      .category {
        color: black;
      }
      .subcategory {
        margin-top: 0.4em;
        a {
          border-bottom-style: dashed;
          border-bottom-width: 1px;
          display: inline-block;
          color: black;
          &:hover, &:active &:focus {
            color: #a48b5c;
            text-decoration: none;
          }
        }
      }

      .divider {
        display: inline-block;
        width: 30%;
        height: 1px;
        background-color: #a48b5c;
        margin: 0.5em 0 1em;
      }
    }
  }
}
