<div class="container">
  <div class="row">
    <div class="col-md-offset-4 col-md-4">
      <form *ngIf="form" novalidate [formGroup]="form" class="form-horizontal" (ngSubmit)="login()">
        <div class="form-group">
          <input type="text" class="form-control" formControlName="login" [placeholder]="'Логін' | translate">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" formControlName="password" [placeholder]="'Пароль' | translate">
        </div>
        <div class="form-group">
          <button class="btn btn-block btn-primary" type="submit">{{'Вхід' | translate}}</button>
        </div>
      </form>
    </div>
  </div>
</div>
