<div class="container-fluid" *ngIf="(productsState$ | async) as productsState">
  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-primary" routerLink="details">
        {{'Create' | translate}}
      </button>
      <button class="btn btn-default" (click)="resetFilters()">
        {{'Reset filters' | translate}}
      </button>
      <page-size-options [value]="searchParams.count"
        (valueChange)="setSearchParams({ count: $event, offset: 0 })">
      </page-size-options>
      <paginator
        [pageOptions]="{ total: productsState.total, count: searchParams.count, offset: searchParams.offset }"
        (offsetChange)="setSearchParams({ offset: $event })">
      </paginator>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered table-hover text-center">
        <thead>
          <tr>
            <th>
              <div class="input-group">
                <input type="text" class="form-control" [placeholder]="'Name' | translate"
                  [ngModel]="searchParams.q" (ngModelChange)="setSearchParams({ q: $event })">
                <div class="input-group-btn">
                  <button class="btn btn-default">
                    <i class="glyphicon glyphicon-remove"></i>
                  </button>
                </div>
              </div>
            </th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of productsState.products">
            <td><img [src]="product.url_image_small" width="24" height="24"></td>
            <td>{{product.name}}</td>
            <td>{{product.article}}</td>
            <td>
              <div class="btn-group">
                <button type="button" class="btn btn-xs btn-default"
                  routerLink="details" [queryParams]="{product_id: product.id}">
                  <i class="glyphicon glyphicon-pencil"></i>
                </button>
                <button type="button" (click)="delete(product.id)"
                  class="btn btn-xs btn-danger">
                  <i class="glyphicon glyphicon-trash"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
