<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2 *ngIf="product$ | async as product; else createProductMSG">
        {{'Editing product' | translate}}: {{product.id}}
      </h2>
      <ng-template #createProductMSG>
        <h2>{{'Creating product' | translate}}</h2>
      </ng-template>
      <form class="form-horizontal" [formGroup]="form" (ngSubmit)="submitForm()">
        <div class="form-group">
          <label class="col-sm-2 control-label">{{'Name' | translate}}</label>
          <div class="col-sm-10">
            <input class="form-control" type="text" class="form-control" formControlName="name">
          </div>
        </div>

        <div class="btn-group btn-group-justified">
          <div class="btn-group">
            <button type="reset" class="btn btn-default">{{'Reset' | translate}}</button>
          </div>
          <div class="btn-group">
            <button type="submit" class="btn btn-primary">{{'Submit' | translate}}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
