<div class="container-fluid" *ngIf="(crawlersState$ | async) as crawlersState">
  <div class="row">
    <div class="col-md-12">
      <page-size-options [value]="searchParams.count"
        (valueChange)="setSearchParams({ count: $event, offset: 0 })">
      </page-size-options>
      <paginator
        [pageOptions]="{ total: crawlersState.total, count: searchParams.count, offset: searchParams.offset }"
        (offsetChange)="setSearchParams({ offset: $event })">
      </paginator>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered table-hover text-center">
        <tbody>
          <tr *ngFor="let crawler of crawlersState.crawlers">
            <td>{{crawler.id}}</td>
            <td>{{crawler.name}}</td>
            <td>{{crawler.domain}}</td>
            <td>
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-primary" routerLink="repository">
                  <i class="glyphicon glyphicon-list"></i>
                  {{'Backlog' | translate}}
                  <span class="badge">{{crawler.collected_now}}</span>
                </button>
              </div>
              <div class="btn-group">
                <button type="button" *ngIf="!crawler.in_progress"
                  class="btn btn-sm btn-success" (click)="start(crawler.id)">
                  <i class="glyphicon glyphicon-play"></i>
                </button>
                <button type="button" *ngIf="crawler.in_progress"
                  class="btn btn-sm btn-danger" (click)="stop(crawler.id)">
                  <i class="glyphicon glyphicon-stop"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
