.navbar-default .navbar-nav > .open > .search,
.navbar-default .navbar-nav > .open > .search:hover,
.navbar-default .navbar-nav > .open > .search:focus {
  background-color: #a38b5b !important
}

.navbar-default {
  background-color: #f8f8f8;
  border-color: transparent;
}

.navbar-text.divider {
    margin-left: 0;
    margin-right: 0;
}

select {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.navbar-horizontal-dropdown {
  // HORIZONTAL DROPDOWN
  .dropdown.open { position: static; }
  .dropdown.open .dropdown-menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    width: 100%;
    left:0;
    right:0;

    overflow-x: auto;
  }
  .dropdown-menu>li {
    text-align: center;
    display: inline-block;
    a {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
      height: 100%;
    }
  }
}
